# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
.env
.pytest_cache/
.coverage
# IDE
.vscode/
.idea/
# OS
.DS_Store
# Alembic
alembic/env.pyc
alembic/__pycache__/
alembic/versions/*.pyc
*.pyc
